/* Import Other SCSS Files */
body {
  padding: 0;
  margin: 0 auto; }

.gc {
  display: grid;
  width: 100%;
  max-width: 1200px;
  margin: auto; }

.gc-fw {
  display: grid;
  width: 100%; }

.gc-header {
  display: grid;
  width: 100%;
  justify-content: center; }

.gc-half {
  display: grid;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  grid-template-areas: "left right"; }

.gc-fh {
  display: grid;
  height: 100vh;
  width: 100vw; }

.gc-thirds {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "left center right"; }

.gc-jfs {
  justify-content: start; }

.gc-jcc {
  justify-content: center; }

.gc-jce {
  justify-content: end; }

.gc-acc {
  align-content: center; }

.gc-ace {
  align-content: end; }

.gc-aic {
  align-items: center; }

.gc-aie {
  align-items: end; }

.gc-ase {
  align-self: end; }

.lightbox-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 5000;
  background: rgba(0, 0, 0, 0.5); }
  .lightbox-wrapper .lightbox-inner {
    position: relative;
    display: flex;
    padding: 40px;
    margin: 50px;
    height: auto;
    width: auto;
    background: #333;
    border-radius: 10px; }
    .lightbox-wrapper .lightbox-inner .close-btn {
      position: absolute;
      cursor: pointer;
      top: 5px;
      right: 5px;
      padding: 0 5px;
      font-size: 1.5em;
      color: #fff;
      font-weight: bold; }
    .lightbox-wrapper .lightbox-inner video {
      position: relative;
      width: auto;
      height: 100%;
      margin: 0 auto; }
    .lightbox-wrapper .lightbox-inner img {
      max-width: 100%;
      height: auto; }

@media (max-width: 1023px) {
  .lightbox-wrapper .lightbox-inner {
    margin: 15px; } }

#hp-container {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  background: #fff; }

.hp-header {
  font-size: 2.5em;
  color: #fff;
  text-align: center;
  padding-bottom: 10px;
  margin: 0 auto 65px; }

#hp-head-image {
  display: grid;
  max-height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/banner.jpg); }

.hp-img-overlay {
  padding: 0 30px 25px; }

.hp-button-wrapper {
  grid-template-columns: 1fr 2fr 1fr; }

#hp-welcome {
  display: grid;
  justify-content: center;
  background-color: #fff; }
  #hp-welcome img {
    height: auto;
    width: 100%; }

#hp-about {
  display: grid;
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  padding: 50px 30px;
  text-align: center;
  font-size: 1em;
  color: #666;
  overflow: hidden;
  letter-spacing: 0.02em; }
  #hp-about h2.hp-header {
    margin: 20px 0 10px;
    padding: 0 0 5px;
    font-weight: 700;
    font-size: 2.5em;
    color: #2c3539;
    letter-spacing: 0.05em; }

/* Rooms Section */
#hp-rooms {
  padding: 50px 0px 0px;
  background: #2c3539; }
  #hp-rooms .gc-half {
    max-width: 100%;
    overflow: hidden; }
  #hp-rooms .gc-half.rm1 {
    grid-template-areas: "roomimage roomcontent"; }
  #hp-rooms .gc-half.rm2 {
    grid-template-areas: "roomcontent roomimage"; }
  #hp-rooms .room-content {
    display: grid;
    grid-area: roomcontent;
    position: relative;
    justify-content: center;
    align-content: center;
    padding: 70px;
    color: #fff;
    grid-area: roomcontent;
    text-align: center;
    background: #46575e;
    z-index: 2; }
    #hp-rooms .room-content:before {
      content: "";
      display: block;
      position: absolute;
      top: 40px;
      left: 40px;
      height: calc(100% - 80px);
      width: calc(100% - 80px);
      border: 1px solid #3c4451;
      background: clear; }
  #hp-rooms h3 {
    font-size: 2em;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin: 0 auto 10px; }
  #hp-rooms img {
    grid-area: roomimage;
    width: 100%;
    height: auto;
    grid-area: roomimage;
    transition: all 0.5s ease-in-out;
    z-index: 1; }
    #hp-rooms img:hover {
      transform: scale(1.1, 1.1); }

/* FAQ */
#hp-faqs {
  padding: 50px 30px 10px; }
  #hp-faqs .hp-header {
    color: #2c3539;
    margin: 0; }
  #hp-faqs p {
    text-align: center; }
  #hp-faqs .gc-half {
    overflow: hidden;
    padding-top: 30px; }
  #hp-faqs .faq-questions {
    list-style: none; }
    #hp-faqs .faq-questions li.question {
      position: relative;
      font-weight: bold;
      font-size: 1.1em;
      padding: 0 0 0 30px;
      margin-top: 20px;
      cursor: pointer !important; }
      #hp-faqs .faq-questions li.question ul {
        margin: 10px 0;
        padding: 10px 15px; }
      #hp-faqs .faq-questions li.question .answer {
        position: relative;
        background: #efefef;
        padding: 15px 20px;
        border-radius: 5px;
        color: #333; }
        #hp-faqs .faq-questions li.question .answer p {
          margin: 0;
          text-align: left; }
        #hp-faqs .faq-questions li.question .answer:after {
          content: "";
          display: block;
          position: absolute;
          bottom: 100%;
          left: 15px;
          height: 0;
          width: 0;
          border-color: transparent transparent #efefef transparent;
          border-style: solid;
          border-width: 0 6px 0px 6px;
          background: transparent;
          overflow: visible;
          transition: all 0.3s ease-in-out 0.5s; }
      #hp-faqs .faq-questions li.question .dropdown {
        display: none;
        list-style: none;
        font-weight: 400;
        overflow: visible; }
    #hp-faqs .faq-questions .open.question .answer::after {
      border-width: 0 10px 14px 10px; }
  #hp-faqs .lock-svg {
    height: auto;
    width: 25px;
    padding: 5px;
    position: absolute;
    top: -2px;
    left: 0;
    overflow: visible; }
    #hp-faqs .lock-svg .lock-path1 {
      transform: translate(-0.5px, -3.5px); }

@keyframes openlock {
  0% {
    transform: translate(-0.5px, -3.5px); }
  100% {
    transform: translate(-0.5px, -5.5px); } }

@keyframes closelock {
  0% {
    transform: translate(-0.5px, -5.5px); }
  100% {
    transform: translate(-0.5px, -3.5px); } }

/* Comments */
#hp-comments {
  padding: 75px 50px 80px;
  margin: 0 auto;
  max-width: 1200px; }
  #hp-comments .hp-header {
    color: #2c3539;
    margin: 0 0 50px; }

.hp-tripadvisor-links {
  display: grid;
  max-width: 1200px;
  margin: 20px auto; }
  .hp-tripadvisor-links ul {
    display: grid;
    list-style: none;
    padding: 0;
    margin: 30px 0;
    justify-content: end; }

.cs-btn-reset {
  display: grid;
  position: relative;
  border-radius: 0;
  padding: 0;
  margin: 0;
  border: 0 solid transparent;
  text-decoration: none;
  background-color: transparent;
  color: inherit;
  overflow: visible; }

.cs-btn-learn-more {
  display: grid;
  align-content: center;
  width: 150px;
  height: 83px;
  color: #fff;
  font-size: 2em;
  font-weight: 300;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  border-radius: 10px;
  background-color: #515652;
  line-height: 1; }
  .cs-btn-learn-more span {
    font-size: 0.8em; }

.cs-btn-watch-video {
  display: grid;
  align-content: center;
  width: 150px;
  height: 83px;
  color: #fff;
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  border-radius: 10px;
  background-color: #515652;
  line-height: 1; }
  .cs-btn-watch-video span {
    font-size: 0.8em; }

.cs-tripadvisor-btn {
  display: grid;
  height: 67px;
  width: 114px;
  margin: auto 0;
  justify-content: center;
  align-content: center;
  justify-self: end;
  border-radius: 5px;
  background: #FFF; }

.cs-btn-read-more {
  padding: 10px 20px;
  color: #dd9933;
  border: 1px solid #dd9933;
  margin: 20px auto 12px;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 0.9em;
  letter-spacing: 0.15em;
  background: transparent;
  transition: all 0.5s ease-in-out; }
  .cs-btn-read-more:hover, .cs-btn-read-more:focus {
    transform: scale(1.2, 1.2); }

[data-parallax-container="true"] {
  overflow: hidden; }

[data-parallax="true"] {
  opacity: 0;
  position: relative;
  transition: all 0.75s ease-in-out; }

[data-parallax="true"][data-delay="1"] {
  transition: all 0.75s ease-in-out 0s; }

[data-parallax="true"][data-delay="2"] {
  transition: all 0.75s ease-in-out 0.15s; }

[data-parallax="true"][data-delay="3"] {
  transition: all 0.75s ease-in-out 0.3s; }

[data-parallax="true"][data-direction="slide-up"] {
  transform: translateY(100px); }

[data-parallax="true"][data-direction="slide-down"] {
  transform: translateY(-100px); }

[data-parallax="true"][data-direction="slide-right"] {
  transform: translateX(-150px); }

[data-parallax="true"][data-direction="slide-left"] {
  transform: translateX(150px); }

[data-parallax="true"][data-direction="slide-up"][data-shown="true"],
[data-direction="slide-down"][data-shown="true"] {
  opacity: 1;
  transform: translateY(0); }

[data-parallax="true"][data-direction="slide-left"][data-shown="true"],
[data-parallax="true"][data-direction="slide-right"][data-shown="true"] {
  opacity: 1;
  transform: translateX(0); }

#sp-container {
  display: grid;
  max-width: 1200px;
  padding: 20px 30px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  background: #fff; }
  #sp-container .sp-article {
    display: grid;
    color: #333333;
    font-family: "Montserrat", arial, sans-serif;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "title title" "section section"; }
    #sp-container .sp-article .sp-title {
      grid-area: title;
      font-size: 2.4em;
      padding-bottom: 10px;
      margin-bottom: 50px;
      text-transform: uppercase; }
    #sp-container .sp-article .sp-section {
      grid-area: section;
      display: grid;
      text-align: left;
      font-size: 1.1em; }
      #sp-container .sp-article .sp-section p {
        padding: 0 30px;
        margin: 0;
        line-height: 1.4em; }
      #sp-container .sp-article .sp-section .btn-book {
        position: relative;
        display: grid;
        height: 39px;
        width: 85px;
        border: 1px solid #888;
        border-radius: 2px;
        font-size: 0.8em;
        padding: 10px 20px;
        font-weight: 700;
        margin: 30px auto 0;
        background: transparent;
        transform: scale(1, 1);
        transition: all 0.5s ease-in-out; }
        #sp-container .sp-article .sp-section .btn-book:hover {
          color: #fff;
          transform: scale(1.2, 1.2);
          background: #2c3539; }
  #sp-container .sp-sub-title {
    width: 100%;
    font-size: 1.8em;
    padding-bottom: 5px;
    margin: 50px auto 10px; }
  #sp-container #sp-related-rooms {
    display: grid;
    width: 100%;
    overflow: hidden;
    grid-template-columns: 1fr 1fr 1fr; }
    #sp-container #sp-related-rooms .sp-room-tile {
      width: 100%;
      text-align: center; }
      #sp-container #sp-related-rooms .sp-room-tile .room-name {
        font-size: 1em;
        padding-bottom: 5px; }
      #sp-container #sp-related-rooms .sp-room-tile .img-wrapper {
        position: relative; }
        #sp-container #sp-related-rooms .sp-room-tile .img-wrapper img {
          height: auto;
          width: 100%; }
        #sp-container #sp-related-rooms .sp-room-tile .img-wrapper .img-overlay {
          position: absolute;
          display: grid;
          align-content: center;
          justify-content: center;
          opacity: 0;
          top: 20px;
          left: 20px;
          right: 20px;
          bottom: 20px;
          width: auto;
          font-weight: 400;
          font-family: "Montserrat", Arial, sans-serif;
          padding: 5px 20px;
          font-size: 0.7em;
          line-height: 1.4em;
          border-radius: 5px;
          background: rgba(219, 219, 219, 0.9);
          transition: all 0.5s ease-in-out; }
        #sp-container #sp-related-rooms .sp-room-tile .img-wrapper:hover .img-overlay {
          opacity: 1; }

#walking-map.lightbox-wrapper .lightbox-inner {
  margin: 50px auto !important; }

/* Contact Us Page */
#map-container iframe {
  height: 300px !important; }

#sp-contact {
  margin: 25px 0;
  font-family: "Montserrat", arial, sans-serif; }
  #sp-contact .contact-tile {
    padding: 0 30px;
    margin: 0 auto; }
  #sp-contact .contact-tile.left {
    grid-area: left; }
    #sp-contact .contact-tile.left .address-inner span {
      font-weight: bold; }
    #sp-contact .contact-tile.left .address-inner a {
      display: block;
      text-decoration: none;
      color: inherit;
      margin-top: 5px; }
  #sp-contact .contact-tile.middle {
    grid-area: center; }
  #sp-contact .contact-tile.right {
    grid-area: right; }
    #sp-contact .contact-tile.right .hours span {
      font-weight: bold; }
  #sp-contact .contact-title {
    text-align: center;
    padding-bottom: 8px;
    margin-bottom: 20px;
    font-size: 1.8em; }
  #sp-contact .btn-walk {
    cursor: pointer;
    width: auto;
    height: auto;
    padding: 15px 25px;
    margin: 15px 0 0;
    background-color: #515652;
    color: #fff;
    font-size: 32px;
    font-weight: 300;
    font-family: "Yanone Kaffeesatz", sans-serif;
    border-radius: 10px;
    line-height: 1; }
  #sp-contact .contact-form {
    max-width: 800px;
    padding: 0 30px; }
    #sp-contact .contact-form h4 {
      font-weight: 400;
      text-align: center;
      font-size: 1.2em;
      margin: 15px 0 10px 0; }
    #sp-contact .contact-form p {
      margin: 5px 0;
      text-align: center; }
      #sp-contact .contact-form p input {
        padding: 5px 10px;
        font-size: 0.8em;
        text-align: left;
        border: 1px solid #333; }
      #sp-contact .contact-form p textarea {
        padding: 4px 10px;
        font-size: 0.8em;
        text-align: left;
        border: 1px solid #333; }
    #sp-contact .contact-form input[type="submit"] {
      display: block;
      cursor: pointer;
      border: 0 solid transparent;
      padding: 5px 15px;
      margin: 10px 0;
      font-size: 1em;
      color: #fff;
      border-radius: 4px;
      background: #515652;
      transform: scale(1, 1);
      transition: transform 0.3s ease-in-out; }
      #sp-contact .contact-form input[type="submit"]:hover {
        transform: scale(1.2, 1.2); }

* {
  box-sizing: border-box; }

html {
  padding: env(safe-area-inset); }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  background: #fff; }

.accessible-hidden {
  width: 0 !important;
  height: 0 !important;
  display: block !important;
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
  overflow: hidden !important; }

#jp-relatedposts {
  display: none !important; }

#hp-overlay-wrapper {
  display: none; }

header {
  background: #2e3539;
  color: #fff;
  padding: 20px 30px 10px;
  font-weight: bold;
  margin: auto; }
  header .gc-half {
    grid-template-areas: "left right" "lower lower"; }
  header .gb-navigation {
    padding: 0;
    margin: 0;
    list-style: none; }
    header .gb-navigation li {
      display: grid;
      width: auto; }
  header a {
    color: #fff;
    text-decoration: none; }

.gb-header-address {
  display: grid;
  grid-area: left;
  justify-content: center;
  width: 100%;
  padding: 8px 15px;
  max-width: 380px;
  align-content: center;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5); }

nav {
  position: relative;
  display: grid;
  grid-area: right;
  justify-content: right; }
  nav .cs-nav-btn {
    display: none;
    position: relative; }
  nav ul {
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column; }
    nav ul a {
      position: relative;
      padding: 10px;
      text-transform: uppercase;
      text-align: center; }
      nav ul a:after {
        position: absolute;
        display: block;
        content: "";
        top: 100%;
        left: 0;
        right: 0;
        height: 1px;
        width: 0;
        margin: 0 auto;
        background: #fff;
        transition: all 0.4s ease-in-out; }
      nav ul a:hover:after {
        width: calc(100% - 20px); }

#gb-logo {
  display: grid;
  grid-area: lower;
  padding: 10px 0 5px; }
  #gb-logo img {
    width: 100%; }
  #gb-logo .small-logo {
    display: none; }

svg {
  max-height: 30px;
  max-width: 30px;
  overflow: visible; }

.underline {
  position: relative; }
  .underline:after {
    display: block;
    content: "";
    position: absolute;
    height: 4px;
    width: 100px;
    top: auto;
    left: 0;
    right: 0;
    bottom: -2px;
    margin: auto;
    background: #dd9933; }

footer {
  background: #2e3539;
  padding: 30px;
  color: #fff; }
  footer h2 {
    margin: 0 0 10px;
    font-size: 1.45em; }
  footer .gb-footer-info {
    max-width: 1200px;
    text-align: center;
    padding: 0 0 20px;
    margin: 0 auto; }
    footer .gb-footer-info a {
      text-decoration: none;
      color: #fff; }
    footer .gb-footer-info #gb-social-wrapper a {
      margin: 0 12px; }
      footer .gb-footer-info #gb-social-wrapper a svg {
        height: 22px;
        width: 22px;
        fill: #fff;
        stroke: transparent; }
  footer .footer-logo img {
    height: 80px;
    width: auto; }
  footer hr {
    max-width: 1200px;
    height: 1px;
    border: 0;
    background-image: -webkit-linear-gradient(left, #2c3539, #999, #2c3539);
    background-image: -moz-linear-gradient(left, #2c3539, #999, #2c3539);
    background-image: -ms-linear-gradient(left, #2c3539, #999, #2c3539);
    background-image: -o-linear-gradient(left, #2c3539, #999, #2c3539); }
  footer .gb-footer-lower {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0 0;
    min-height: 60px;
    text-align: center; }
    footer .gb-footer-lower .gb-copyright {
      font-size: 0.85em; }
    footer .gb-footer-lower .gb-author {
      font-size: 0.75em; }
    footer .gb-footer-lower #gb-to-top {
      text-align: center; }
      footer .gb-footer-lower #gb-to-top svg {
        height: 40px;
        width: 40px;
        max-height: 40px;
        max-width: 40px;
        overflow: visible;
        margin: 0 auto; }
        footer .gb-footer-lower #gb-to-top svg .top-circle {
          fill: transparent;
          stroke: #fff;
          transition: all 0.3s ease-in-out; }
        footer .gb-footer-lower #gb-to-top svg .top-arrow {
          fill: #fff;
          stroke: transparent;
          transition: all 0.3s ease-in-out; }
      footer .gb-footer-lower #gb-to-top:hover .top-circle, footer .gb-footer-lower #gb-to-top:focus .top-circle {
        fill: #fff;
        stroke: transparent; }
      footer .gb-footer-lower #gb-to-top:hover .top-arrow, footer .gb-footer-lower #gb-to-top:focus .top-arrow {
        fill: transparent; }
    footer .gb-footer-lower .footer-nav {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 0.85em; }
      footer .gb-footer-lower .footer-nav a {
        color: #fff;
        font-weight: 600;
        font-size: 1em;
        text-decoration: none;
        padding: 5px 10px; }
      footer .gb-footer-lower .footer-nav li {
        position: relative; }
        footer .gb-footer-lower .footer-nav li:after {
          content: "";
          display: block;
          position: absolute;
          height: 15px;
          width: 1px;
          background: #fff;
          top: 0;
          left: 100%; }
        footer .gb-footer-lower .footer-nav li:last-child:after {
          display: none; }

/* Breack Points */
@media (max-width: 1119px) {
  nav {
    overflow: visible; }
    nav .nav-btn {
      position: relative;
      height: 30px;
      width: 30px;
      overflow: hidden;
      z-index: 20; }
      nav .nav-btn .menu-line {
        position: absolute;
        display: block;
        content: "";
        height: 4px;
        width: 100%;
        border-radius: 2px;
        left: 0;
        right: 0;
        background: #fff;
        transition: all 0.5s ease-in-out; }
      nav .nav-btn .line1 {
        top: 4px;
        transition: all 0.5s ease-in-out 0.1s; }
      nav .nav-btn .line2 {
        top: calc(50% - 2px); }
      nav .nav-btn .line3 {
        top: calc(100% - 8px);
        transition: all 0.5s ease-in-out 0.1s; }
    nav .nav-btn.open .line1 {
      top: 50%;
      left: 0;
      transform: rotate(-45deg); }
    nav .nav-btn.open .line2 {
      left: 100%; }
    nav .nav-btn.open .line3 {
      top: 50%;
      left: 0;
      transform: rotate(45deg); }
    nav #menu-main-menu {
      display: none;
      position: absolute;
      top: 0;
      padding: 20px 30px;
      width: 220px;
      left: auto;
      right: -30px;
      z-index: 10;
      background: #2e3539; }
      nav #menu-main-menu .menu-item a {
        text-align: left; }
        nav #menu-main-menu .menu-item a:after {
          right: auto;
          margin: 0; }
  #hp-head-image {
    max-width: 100vw;
    background-position: top left; }
    #hp-head-image .hp-img-overlay.gc-half {
      grid-template-columns: 2fr 1fr; }
  #hp-button-wrapper {
    grid-template-columns: 2fr 1fr; }
  #hp-rooms img {
    height: 100%; }
  #sp-container .sp-article .sp-section.gc-half {
    grid-template-columns: 1fr;
    grid-template-areas: "center";
    text-align: center; }
    #sp-container .sp-article .sp-section.gc-half img {
      margin: 0 auto 30px; }
    #sp-container .sp-article .sp-section.gc-half .sp-content {
      padding: 0; } }

@media (max-width: 1023px) {
  body {
    width: 100vw; }
  #top .gc-half {
    grid-template-columns: 350px 1fr; }
  #hp-head-image {
    max-height: 450px; }
    #hp-head-image .hp-img-overlay.gc-half {
      grid-template-columns: 2fr 1fr; }
      #hp-head-image .hp-img-overlay.gc-half .cs-btn-learn-more,
      #hp-head-image .hp-img-overlay.gc-half .cs-btn-watch-video {
        width: 100px;
        height: 53px;
        font-size: 1.3em;
        border-radius: 6px; }
      #hp-head-image .hp-img-overlay.gc-half .book-now img {
        height: 140px; }
  #sp-container .sp-article .sp-section.gc-half img {
    max-width: 100%;
    height: auto !important; }
  #sp-container .sp-article .sp-section p {
    padding: 0; }
  #sp-container #sp-related-rooms .sp-room-tile .img-wrapper .img-overlay {
    display: none; }
  .contact-thirds.gc-thirds {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left middle" "right right";
    margin-bottom: 25px; }
  #hp-rooms .room.gc-half {
    grid-template-columns: 1fr;
    grid-template-areas: "roomimage" "roomcontent"; }
    #hp-rooms .room.gc-half img {
      height: auto; }
  .gb-footer-lower.gc-thirds {
    grid-template-columns: 1fr 1fr; }
    .gb-footer-lower.gc-thirds #gb-bottom-nav {
      display: none; } }

@media (max-width: 767px) {
  header#top.gc-header {
    justify-content: stretch;
    min-height: 230px; }
    header#top.gc-header .gc-half {
      grid-template-columns: 200px 1fr; }
    header#top.gc-header .gb-header-address {
      max-width: 200px;
      text-align: center; }
    header#top.gc-header #gb-logo {
      text-align: center;
      margin: 15px auto 5px; }
      header#top.gc-header #gb-logo .large-logo {
        display: none; }
      header#top.gc-header #gb-logo .small-logo {
        display: block;
        height: 100px;
        width: auto; }
  #hp-faqs .gc-half {
    grid-template-areas: "center";
    grid-template-columns: 1fr; }
    #hp-faqs .gc-half .faq-questions {
      margin: 0;
      padding: 0; }
  #sp-container #sp-related-rooms {
    grid-template-columns: 1fr;
    grid-template-areas: "center"; }
    #sp-container #sp-related-rooms img {
      max-width: 300px; } }

@media (max-width: 639px) {
  #hp-head-image {
    max-height: 300px; }
    #hp-head-image .hp-img-overlay.gc-half {
      position: relative;
      grid-template-areas: "center";
      grid-template-columns: 1fr;
      padding: 0 20px 10px; }
      #hp-head-image .hp-img-overlay.gc-half .book-now img {
        height: 100px; }
  .cs-tripadvisor-btn {
    position: absolute;
    bottom: calc(100% + 40px);
    right: 10px;
    height: 55px;
    width: 85px; }
    .cs-tripadvisor-btn img {
      height: 40px;
      width: auto; }
  #sp-container .sp-article .sp-title {
    font-size: 1.8em; }
  footer .gb-footer-info.gc-thirds {
    grid-template-areas: "left center" "right right";
    grid-template-columns: 1fr 1fr; }
  footer #gb-social-wrapper {
    grid-area: right;
    margin-top: 20px; }
  footer .gb-footer-lower.gc-thirds {
    grid-template-areas: "btntop" "copyright";
    grid-template-columns: 1fr; }
    footer .gb-footer-lower.gc-thirds #gb-copyright {
      grid-area: copyright;
      margin-top: 20px; }
    footer .gb-footer-lower.gc-thirds #gb-to-top {
      grid-area: btntop; }
  .contact-thirds.gc-thirds {
    grid-template-columns: 1fr;
    grid-template-areas: "left" "center" "right"; }
  #sp-contact .contact-form.gc-half {
    grid-template-columns: 1fr;
    grid-template-areas: "left" "right"; } }

@media (max-width: 479px) {
  header.gc-header #gb-logo .small-logo {
    height: 80px; }
  #hp-head-image {
    height: 220px;
    background-position: -30px 0; }
    #hp-head-image .hp-img-overlay.gc-half .hp-button-wrapper.gc-thirds {
      grid-template-columns: 1fr 1fr;
      justify-content: right; }
    #hp-head-image .hp-img-overlay.gc-half .book-now img {
      height: 80px; }
    #hp-head-image .hp-img-overlay.gc-half .cs-btn-learn-more {
      height: 50px;
      width: 80px; }
    #hp-head-image .hp-img-overlay.gc-half .cs-btn-watch-video {
      display: none; }
  #top .gc-half {
    grid-template-columns: 1fr 1fr; }
  #hp-about {
    padding: 20px; }
    #hp-about h2.hp-header {
      font-size: 1.6em; }
  .hp-header {
    font-size: 1.6em;
    margin-bottom: 35px; }
  #hp-rooms {
    padding: 25px 0 0; }
    #hp-rooms h3 {
      font-size: 1.4em; }
    #hp-rooms .room-content {
      padding: 50px; }
      #hp-rooms .room-content:before {
        top: 20px;
        left: 20px;
        height: calc(100% - 40px);
        width: calc(100% - 40px); }
  footer .gb-footer-info.gc-thirds {
    grid-template-columns: 1fr;
    grid-template-areas: "left" "center" "right"; }
  footer .footer-logo {
    margin-bottom: 20px; } }
