//**** Lightbox Group ****//
.lightbox-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 5000;
  background: rgba(0, 0, 0, 0.5);

  .lightbox-inner {
    position: relative;
    display: flex;
    padding: 40px;
    margin: 50px;
    height: auto;
    width: auto;
    background: #333;
    border-radius: 10px;

    .close-btn {
      position: absolute;
      cursor: pointer;
      top: 5px;
      right: 5px;
      padding: 0 5px;
      font-size: 1.5em;
      color: #fff;
      font-weight: bold;
    }
    video {
      position: relative;
      width: auto;
      height: 100%;
      margin: 0 auto;
    }

    img {
      max-width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }
}

@media (max-width: 1023px) {
  .lightbox-wrapper .lightbox-inner {
    margin: 15px;
  }
}
