#sp-container {
  display: grid;
  max-width: 1200px;
  padding: 20px 30px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  background: #fff;
  .sp-article {
    display: grid;
    color: #333333;
    font-family: "Montserrat", arial, sans-serif;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "title title"
      "section section";

    .sp-title {
      grid-area: title;
      font-size: 2.4em;
      padding-bottom: 10px;
      margin-bottom: 50px;
      text-transform: uppercase;
    }

    .sp-section {
      grid-area: section;
      display: grid;
      text-align: left;
      font-size: 1.1em;

      p {
        padding: 0 30px;
        margin: 0;
        line-height: 1.4em;
      }
      .btn-book {
        position: relative;
        display: grid;
        height: 39px;
        width: 85px;
        border: 1px solid #888;
        border-radius: 2px;
        font-size: 0.8em;
        padding: 10px 20px;
        font-weight: 700;
        margin: 30px auto 0;
        background: transparent;
        transform: scale(1, 1);
        transition: all 0.5s ease-in-out;

        &:hover {
          color: #fff;
          transform: scale(1.2, 1.2);
          background: #2c3539;
        }
      }
    }
  }
  .sp-sub-title {
    width: 100%;
    font-size: 1.8em;
    padding-bottom: 5px;
    margin: 50px auto 10px;
  }
  #sp-related-rooms {
    display: grid;
    width: 100%;
    overflow: hidden;
    grid-template-columns: 1fr 1fr 1fr;

    .sp-room-tile {
      width: 100%;
      text-align: center;

      .room-name {
        font-size: 1em;
        padding-bottom: 5px;
      }

      .img-wrapper {
        position: relative;

        img {
          height: auto;
          width: 100%;
        }

        .img-overlay {
          position: absolute;
          display: grid;
          align-content: center;
          justify-content: center;
          opacity: 0;
          top: 20px;
          left: 20px;
          right: 20px;
          bottom: 20px;
          width: auto;
          font-weight: 400;
          font-family: "Montserrat", Arial, sans-serif;
          padding: 5px 20px;
          font-size: 0.7em;
          line-height: 1.4em;
          border-radius: 5px;
          background: rgba(219, 219, 219, 0.9);
          transition: all 0.5s ease-in-out;
        }

        &:hover .img-overlay {
          opacity: 1;
        }
      }
    }
  }
}
#walking-map.lightbox-wrapper .lightbox-inner {
  margin: 50px auto !important;
}
/* Contact Us Page */
#map-container iframe {
  height: 300px !important;
}
#sp-contact {
  margin: 25px 0;
  font-family: "Montserrat", arial, sans-serif;
  .contact-tile {
    padding: 0 30px;
    margin: 0 auto;
  }
  .contact-tile.left {
    grid-area: left;

    .address-inner {
      span {
        font-weight: bold;
      }
      a {
        display: block;
        text-decoration: none;
        color: inherit;
        margin-top: 5px;
      }
    }
  }
  .contact-tile.middle {
    grid-area: center;
  }
  .contact-tile.right {
    grid-area: right;

    .hours span {
      font-weight: bold;
    }
  }
  .contact-title {
    text-align: center;
    padding-bottom: 8px;
    margin-bottom: 20px;
    font-size: 1.8em;
  }
  .btn-walk {
    cursor: pointer;
    width: auto;
    height: auto;
    padding: 15px 25px;
    margin: 15px 0 0;
    background-color: #515652;
    color: #fff;
    font-size: 32px;
    font-weight: 300;
    font-family: "Yanone Kaffeesatz", sans-serif;
    border-radius: 10px;
    line-height: 1;
  }
  .contact-form {
    max-width: 800px;
    padding: 0 30px;

    h4 {
      font-weight: 400;
      text-align: center;
      font-size: 1.2em;
      margin: 15px 0 10px 0;
    }

    p {
      margin: 5px 0;

      input {
        padding: 5px 10px;
        font-size: 0.8em;
      }

      textarea {
        padding: 4px 10px;
        font-size: 0.8em;
      }
    }

    input[type="submit"] {
      display: block;
      cursor: pointer;
      border: 0 solid transparent;
      padding: 5px 15px;
      margin: 10px 0;
      font-size: 1em;
      color: #fff;
      border-radius: 4px;
      background: #515652;
      transform: scale(1, 1);
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.2, 1.2);
      }
    }
  }
}
